<!--<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Ricar.do</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/register">Регистрация</a></li>
      <li><a href="/login">Вход</a></li>
    </ul>
  </div>
</nav> -->
<!-- --------------------------- -->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark-gray">-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand"  href="/home">Ricar.do</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Главная<span class="sr-only">(current)</span></a>
        </li>
        {% if auth != True %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Вход</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="/User">Личный кабинет</a>
        </li>

        {% endif%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">Настройки</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07XL">
            <form action="#" method="POST">
              {% csrf_token %}
              {{ form.flag.label }} : {{ form.flag }}
              <input type="submit" value="Подтвердить">
            </form>
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          </div>
        </li>
      </ul>
      {% if auth == True %}
      <ul class="navbar-nav">
        <a class="nav-link" href="/logout">Выйти</a>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>



<!-- TODO: добавить class="active", когда страница активна -->