{% extends 'base.html' %}

{% block content %}

    <head>
    <meta charset="UTF-8">
    <title>vote N {{option_id}}</title>
</head>
<body>

<div class="card m-2 w-100 flex-fill" style="width: 18rem;" >
    <div class="card-body bg-d">
        <h5 class="card-title">{{ voting.question }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ voting.author }}</h6>
        <form action="/edit/{{ voting.id }}" method="POST">
            {% for option in voting.options %}
                <div class="form-check">
                    {% if voting.isCheckbox or mode == 2 %}
                        <input class="form-check-input" type="checkbox" name="answer_{{ option.id }}"
                               value="{{ option.id }}">
                    {% else %}
                        <input class="form-check-input" type="radio" name="answer_{{ option.id }}"
                               value="{{ option.id }}">
                    {% endif %}
                    <label id = "{{option.id}}_text" class="form-check-label" for="exampleRadios1">
                        {{ option.text }}
                    </label>
                    {% if mode == 1 %}
                        <p style="white-space: nowrap" id="{{option.id}}_votes">Классов: {{ option.vote_count }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            {% if need_buttons %}
                {% csrf_token %}
                {% if mode == 1 %}
                    <input class="btn btn-primary" type="submit" value="Удалить варианты" name="delete_option">
                    <input class="btn btn-danger" type="submit" value="Удалить голосование" name="delete">
                {% endif %}
                {% if mode == 2 %}
                    <input class="btn btn-danger" type="submit" value="Удалить выбранные" name="delete_selected">
                {% endif %}
            </form>
        {% endif %}
        {% if deleted %}
            <h4>Это голосование удалено</h4>
        {% endif %}
        {% if deleted_option %}
            <h4>Удалено</h4>
        {% endif %}
    </div>
</div>

</body>
</html>

{% endblock %}