{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>vote N {{option_id}}</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<div class="card m-2 w-100 flex-fill" style="width: 18rem;" >
    <div class="card-body bg-d">
        <h5 class="card-title">{{ voting.question }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ voting.author }}</h6>
        <form action="" method="POST">
            {% with voting.id|stringformat:"i" as id %}
            {% with "v"|add:id|add:"_min" as min %}
            {% with "v"|add:id|add:"_max" as max %}
            {% for key, value in ids.items %}
            {% if min == key %}
                <input type="hidden" id="opt{{voting.id}}_min" value="{{value}}">
            {% endif %}
            {% if max == key %}
                <input type="hidden" id="opt{{voting.id}}_max" value="{{value}}">
            {% endif %}
            {% endfor %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            <table width="100%"><tr>
                <td>
                {% for option in voting.options %}
                    <div class="form-check">
                    {% if voting.isCheckbox %}
                            <input class="form-check-input" type="checkbox" name="answer"
                                   value="{{ option.id }}">
                    {% else %}
                            <input class="form-check-input" type="radio" name="answer"
                                   value="{{ option.id }}">
                   {% endif %}
                           <label id = "{{option.id}}_text" class="form-check-label" for="exampleRadios1">
                                {{ option.text }}
                           </label>
                           <p style="white-space: nowrap" id="{{option.id}}_votes">Классов: {{ option.vote_count }}</p>
                        </div>

                {% endfor %}
                </td>
                <td width="100%">
                    <!--<div id="chart_div{{voting.id}}" class="bg-d" style="height: 400px;"></div>-->
                    <canvas id="myChart"></canvas>

                </td>
                {% csrf_token %}
            </tr></table>
            <input class="btn btn-primary" type="submit" name="vote_button"
                   value="Голосовать">
            <input type="hidden" value="{{voting.id}}" name="voting_id">
            <input class="btn btn-info" type="button" onclick="drawnewchart();" value="нарисовать график">
            <!-- TODO: ГРАФИК ДОЛЖЕН ПОЯВЛЯТЬСЯ ПОСЛЕ ГОЛОСОВАНИЯ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        </form>
    </div>
</div>

<script>
    var mylabels = {{ labels }};
    var mydata = {{ data}};
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: mylabels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: mydata
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>


</body>
</html>

{% endblock %}